# Terraform
*.tfstate
*.tfstate.backup
*.tfvars
*.tfvars.json
.crash
*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Local .terraform directory
.terraform/
.terraform.lock.hcl

# IDEs and OS files
.vscode/
.idea/
.DS_Store
